@import "../variables"
@import "../mixins"

body
  padding-left: 50px
  padding-bottom: 0

#sidenav
  background-color: $fore-contrast
  color: $foreground
  overflow: hidden
  position: fixed
  top: 0
  left: 0
  bottom: auto
  width: 50px
  height: 100%
  z-index: 100

  .item
    width: 50px
    height: 50px
    cursor: pointer
    display: inline-block
    line-height: 50px
    text-align: center
    font-size: 25px
    transition: background-color 0.2s, color 0.2s

  .item:hover
    background-color: lighten($fore-contrast, 15%)

  .item.active
    background-color: $accent




@media (max-width: 450px)
  #sidenav
    top: auto
    bottom: 0
    width: 100%
    min-width: 320px
    height: 40px
    white-space: nowrap

    .item
      width: 25%
      height: 40px
      line-height: 40px

  body
    padding-left: 0
    padding-bottom: 50px
